<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1066978915333-3t75kqom8ipfnb8jd94ainsqj4n0jj8v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1066978915333-3t75kqom8ipfnb8jd94ainsqj4n0jj8v</string>
	<key>API_KEY</key>
	<string>AIzaSyCkVdCRSKhceTaQ4MIjciHT5mDv9Y1ZB1M</string>
	<key>GCM_SENDER_ID</key>
	<string>1066978915333</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.csn.Connect</string>
	<key>PROJECT_ID</key>
	<string>kconnect-27dcf</string>
	<key>STORAGE_BUCKET</key>
	<string>kconnect-27dcf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1066978915333:ios:f3a765ba5c020cb2</string>
	<key>DATABASE_URL</key>
	<string>https://kconnect-27dcf.firebaseio.com</string>
</dict>
</plist>